/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: The Seasons;
    src: url(../fonts/Fontspring-DEMO-theseasons-lt.otf);
}

nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100px;
}


nav>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

nav>ul>li {
    color: #545454;
}

nav>ul>li>a {
    color: #545454;
    font-family: The Seasons;
    font-size: 22px;
}

nav>ul>li:nth-of-type(1) {
    font-size: 35px;
}


nav>ul>li:nth-of-type(2) img {
    width: 190px;
    position: absolute;
    left: 50%;
    top: -60%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

nav>ul>li:nth-of-type(2) img.logo-nav-1 {
    display: none;
}

nav>ul>li:nth-of-type(2) img.logo-nav-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


nav>ul>li:nth-of-type(3) {
    font-size: 25px;
}

.line {
    border-bottom: 1px solid #3D4141;
    position: absolute;
    width: 90%;
    bottom: 0%;
    left: 5%;
    right: 5%;
}

.nav-menu-phone {
    background-color: #35332e;
    width: 100%;
    font-family: Forum;
    z-index: 101;
    position: absolute;
    left: 0%;
    top: 10%;
    height: 100vh;
    overflow: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    justify-content: space-between;
}

.close-menu-button {
    fill: #DCDFDE;
    padding-left: 20px;
    padding-top: 20px;
}

.nav-menu-phone article:nth-of-type(2) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-menu-phone article:nth-of-type(2) ul>li>a,
span {
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 26px;
    text-transform: uppercase;
}

.nav-menu-phone .role-list div.guest-section ul ,
.nav-menu-phone .role-list div.host-section ul {
    border-left: 2px solid #ffffff;
}


.nav-menu-phone .role-list div.guest-section ul li a,
.nav-menu-phone .role-list div.host-section ul li a {
    font-size: 18px;
    color: rgb(255, 255, 255, 0.5);
    padding-left: 5px;
}

.nav-menu-phone article:nth-of-type(3) {
    padding-bottom: 20px;
    align-self: center;
}

.nav-menu-phone article:nth-of-type(3) button {
    border: none;
    background-color: #212123;
    border-radius: 20px;
    padding: 7px 40px;
    box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
    font-family: Forum;
    color: rgb(255, 255, 255, 0.5);
    font-size: 18px;
}


/* ---------------------------------header-----------------------------------*/

header {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

header div {
    position: relative;
    width: 100%;
}

header h1 {
    font-family: Forum;
    color: #535351;
    -ms-flex-item-align: start;
    align-self: flex-start;
    position: absolute;
    -webkit-transform: rotate(270deg) translateX(17%);
    -ms-transform: rotate(270deg) translateX(17%);
    transform: rotate(270deg) translateX(17%);
    left: -15%;
    top: 59%;
    font-size: 16px;
}

header h2 {
    text-align: center;
    font-family: Montserrat;
    font-size: 64px;
    color: #535351;
    width: 100%;
}

header h2:nth-of-type(2) {
    font-size: 55px;
}

header h3 {
    font-family: "The Seasons";
    text-align: center;
    font-size: 50px;
    color: #535351;
    text-shadow: 0px 11px 2px rgb(83 83 81 / 38%);
}

header p {
    text-align: center;
    font-size: 8px;
    font-family: 'Montserrat';
    padding-top: 20px;
    width: 70%;
}


/* ------------------------------------------------main------------------------------------------------------------------------- */

/*-------------------------------------------------section.general-info---------------------------------------------------------------------------------*/

.general-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.general-info article:nth-of-type(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.general-info article:nth-of-type(1) div:nth-of-type(1) h1 {
    font-family: Forum;
    font-size: 22px;
    /* align-self: flex-end; */
    text-align: right;
    color: #535351;
    padding-right: 20px;
    padding-bottom: 10px;
}

.general-info article:nth-of-type(1) div:nth-of-type(1) p {
    font-family: "Cormorant Garamond";
    color: #A1A19F;
    text-align: right;
    width: 160px;
    padding-right: 20px;
    padding-bottom: 30px;
}


.general-info article:nth-of-type(1) div:nth-of-type(2) {
    width: 100%;
    background-image: url(../image/aboutUS-image-1.jpg);
    height: 25vh;
    /* object-fit: contain; */
    background-size: cover;
    background-repeat: no-repeat;
}

.general-info article:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}


.general-info article:nth-of-type(2) div:nth-of-type(1) h1 {
    font-family: Forum;
    font-size: 22px;
    /* align-self: flex-end; */
    text-align: left;
    color: #535351;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.general-info article:nth-of-type(2) div:nth-of-type(1) p {
    font-family: "Cormorant Garamond";
    color: #A1A19F;
    text-align: left;
    width: 160px;
    padding-left: 20px;
    padding-bottom: 30px;
}


.general-info article:nth-of-type(2) div:nth-of-type(2) {
    width: 100%;
    background-image: url(../image/aboutUs-image-2.jpg);
    height: 25vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.general-info article:nth-of-type(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}


.general-info article:nth-of-type(3) div:nth-of-type(1) h1 {
    font-family: Forum;
    font-size: 22px;
    /* align-self: flex-end; */
    text-align: right;
    color: #535351;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
}

.general-info article:nth-of-type(3) div:nth-of-type(1) p {
    font-family: "Cormorant Garamond";
    color: #A1A19F;
    text-align: right;
    width: 40%;
    padding-right: 5px;
    padding-bottom: 30px;
    padding-left: 54%;
}



.general-info article:nth-of-type(3) div:nth-of-type(2) {
    width: 100%;
    background-image: url(../image/aboutUs-image-3.jpg);
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
}


/*-------------------------------------------------section.the-100---------------------------------------------------------------------------------*/

.the-100 {
    /* height: 130vh; */
    background-color: #535351;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 45vh;
}

.the-100 article:nth-of-type(1) {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    position: relative;
}

.the-100 article:nth-of-type(1) div h1 {
    font-family: Forum;
    color: #ffffff;
    -webkit-transform: rotate(270deg) translateX(10%);
    -ms-transform: rotate(270deg) translateX(10%);
    transform: rotate(270deg) translateX(10%);
    left: -20%;
    position: absolute;
    top: 27%;
    font-size: 10px;
}

.the-100 article:nth-of-type(1) div h2 {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 35px;
    color: #ffffff;
}

.the-100 article:nth-of-type(1) div h3 {
    text-align: center;
    font-family: "The Seasons";
    color: #ffffff;
    font-size: 64px;
    text-shadow: 0px 10px 2px rgb(255 255 255 / 55%);
}

.the-100 article:nth-of-type(1) div:nth-of-type(3) {
    padding-top: 50px;
}

.the-100 article:nth-of-type(1) div h4 {
    text-align: center;
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 25px;
}

.the-100 article:nth-of-type(1) div p {
    text-align: center;
    font-family: 'Forum';
    color: #ffffff;
}

.the-100 img {
    width: 50%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-top: 20px;
    display: none;
}

.the-100 article:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: none;
}

.the-100 article:nth-of-type(2) div p {
    color: #ffffff;
    margin-top: 20px;
    font-family: 'Forum';
    margin-left: 10px;
    width: 95%;
}

.the-100 article:nth-of-type(2) div button {
    margin-right: 10px;
    margin-bottom: 5px;
    background: none;
    border: 2px solid #B1B1B1;
    -webkit-box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
    box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
}

.the-100 article:nth-of-type(2) div button a {
    color: #B1B1B1;
    font-family: Forum;
    font-size: 14px;
}

/* ----------------------------footer-------------------------------------- */

footer {
    margin-top: 50px;
    height: 82vh;
    background-color: #535351;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Forum;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}



footer article:nth-of-type(1),
footer article:nth-of-type(2) {
    align-self: flex-start;
    margin-top: 30px;
    margin-left: 20px;
}

footer article:nth-of-type(1) h1,
footer article:nth-of-type(2) h1 {
    font-family: Montserrat;
    font-size: 30px;
}

footer article:nth-of-type(1) ul,
footer article:nth-of-type(2) ul {
    line-height: 1.2;
    margin-top: 10px;
}

footer article:nth-of-type(1) ul li a,
footer article:nth-of-type(2) ul li {
    color: #fbbc04;
    font-size: 16px;
}

footer article:nth-of-type(1) ul li a {
    text-transform: uppercase;
}

footer article:nth-of-type(3) {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 10px;
}

footer article:nth-of-type(3) li:nth-of-type(1) {
    padding-bottom: 22px;
}


footer article:nth-of-type(3) a {
    color: white;
    font-size: 20px;
    border-radius: 70%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 70%;
    border: 1px solid white;
    padding: 6px 7px 4px 7px;
}

footer article:nth-of-type(3) li:nth-of-type(1) a {
    color: white;
    font-size: 20px;
    border-radius: 70%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 70%;
    border: 1px solid white;
    padding: 6px 10px 5px 10px;
}


footer article:nth-of-type(4) {
    align-self: flex-start;
    margin-left: 10px;
}

footer article:nth-of-type(4) ul {
    display: flex;
    gap: 10px;
    padding-bottom: 5px;
}

footer article:nth-of-type(4) div:nth-of-type(2) {
    width: 97%;
    border-bottom: 1px solid #ffffff;
}

footer article:nth-of-type(4) div:nth-of-type(3) {
    display: flex;
    font-size: 12px;
    gap: 85px;
    align-items: center;
    justify-content: space-between;
}