/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: The Seasons;
    src: url(../fonts/Fontspring-DEMO-theseasons-lt.otf);
}

body {
    background-color: #312e2d;
}

/* ---------------------------------------------main---------------------------------------- */


main {
    background-color: #ffffff;
    width: 100%;
    height: 500vh;
    position: absolute;
    top: 2%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


main article:nth-of-type(1) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main article:nth-of-type(1) svg {
    padding-top: 20px;
    padding-left: 20px;
    fill: #312e2d;
}

main article:nth-of-type(1) p {
    font-size: 24px;
    color: #312e2d;
    font-family: 'The Seasons';
    padding-right: 15px;
    padding-top: 20px;
}


main article:nth-of-type(2) {
    width: 90%;
    margin-top: 50px;
    margin-left: 20px;
    position: relative;
}

main article:nth-of-type(2) ul {
    display: flex;
    gap: 45px;
    width: 100%;
    overflow: scroll;
    color: #35332e;
    font-family: Montserrat;
    font-size: 16px;
    padding-bottom: 10px;
}

main article:nth-of-type(2) ul::-webkit-scrollbar {
    display: none;
}

main article:nth-of-type(2) ul li {
    width: 100%;
    position: relative;
    padding-top: 40px;
}

main article:nth-of-type(2) ul li:nth-of-type(1) p {
    width: 80px;
}

main article:nth-of-type(2) ul li:nth-of-type(4) p {
    width: 110px;
}

main article:nth-of-type(2) ul li:nth-of-type(1n + 2) p {
    color: rgb(53, 51, 46, 0.5);
}

main article:nth-of-type(2) ul li svg {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

main article:nth-of-type(2) ul li .line-categories {
    border-bottom: 2px solid rgb(53, 51, 46);
    width: 95%;
    padding-top: 10px;
    
}

main article:nth-of-type(2) ul li:nth-of-type(1n + 2) .line-categories {
    border: none;
}

.general-line {
    border-bottom: 2px solid rgb(53, 51, 46, 0.5);
    position: absolute;
    width: 95%;
    top: 85%;
}
 







