@font-face {
    font-family: The Seasons;
    src: url(../fonts/Fontspring-DEMO-theseasons-lt.otf);
}

body {
    background-color: #535351;
}

nav {
    position: sticky;
    z-index: 1000;
    width: 100%;
    height: 100px;
    top: 0%;
    margin-bottom: 10%;
}


nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

nav>ul>li {
    color: #DCDFDE;
}

nav>ul>li>a {
    color: #DCDFDE;
    font-family: The Seasons;
    font-size: 22px;
}

nav>ul>li:nth-of-type(1) {
    font-size: 35px;
}


nav>ul>li:nth-of-type(2) img {
    width: 140px;
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translateX(-50%);
}

nav>ul>li:nth-of-type(2) img.logo-nav-2 {
    display: none;
}


nav>ul>li:nth-of-type(3) {
    font-size: 25px;
}

.line {
    border-bottom: 1px solid #3D4141;
    position: absolute;
    width: 90%;
    bottom: 0%;
    left: 5%;
    right: 5%;
}


.nav-menu-phone {
    background-color: #545454;
    width: 85%;
    font-family: Forum;
    z-index: 101;
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-menu-phone article:nth-of-type(1) ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 15px;
    /* border-bottom: 1px solid white; */
}

.nav-menu-phone article:nth-of-type(1) ul li:nth-of-type(1) {
    margin-left: 15px;
    font-size: 45px;
    margin-top: 5px;
}


.nav-menu-phone article:nth-of-type(1) ul li:nth-of-type(3) {
    margin-right: 15px;
    font-size: 30px;
}


.nav-menu-phone article:nth-of-type(1) ul li:nth-of-type(2) img {
    width: 35%;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%) translateY(-25%);
}

.line-menu {
    border-bottom: 1px solid white;
    margin-top: 34px;
    margin-left: 20px;
}

.nav-menu-phone article:nth-of-type(2) {
    align-self: center;
    margin-top: 20px;
}


.nav-menu-phone article:nth-of-type(2) button {
    background: none;
    width: 170px;
    height: 40px;
    border: 2px solid white;
    font-family: 'Forum';
    font-size: 25px;
    color: white;
    -webkit-box-shadow: -2px 7px 8px -3px rgba(0, 0, 0, 0.68);
    box-shadow: -2px 7px 8px -3px rgba(0, 0, 0, 0.68);
}

.nav-menu-phone article:nth-of-type(3) {
    margin-top: 60px;
    margin-left: 20px;
}


.nav-menu-phone article:nth-of-type(3)>ul li {
    line-height: 1.5;
}

.nav-menu-phone article:nth-of-type(3)>ul li a,
span {
    color: #C3C3C3;
    font-family: Forum;
    font-size: 30px;
    text-transform: uppercase;
}


.nav-menu-phone article:nth-of-type(3) ul li:nth-of-type(4) div ul li {
    line-height: 1;
}

.nav-menu-phone article:nth-of-type(3) ul li:nth-of-type(4) div ul li a {
    font-size: 18px;
}

.nav-menu-phone article:nth-of-type(4) {
    align-self: flex-end;
    margin-top: 40px;
}


.nav-menu-phone article:nth-of-type(4) button {
    background: none;
    border: 2px solid white;
    -webkit-box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
    box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
    margin-right: 20px;
    padding: 5px 15px 5px 15px;
}

.nav-menu-phone article:nth-of-type(4) button a {
    font-family: 'Forum';
    font-size: 22px;
    color: white;
}

.close-menu-button {
    fill: #DCDFDE;
}


/* ----------------------------------------------------------------------------header------------------------------------------------------ */

header {
    font-family: Forum;
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    text-shadow: 0px 7px 2px rgb(255 255 255 / 55%);
}

/* -----------------------------------------------------------------------------main-------------------------------------------------------------- */


/* ---------------------------------------------section.general-info-villa------------------------------------------------- */


main {
    margin-top: 40%;
}

.general-info-villa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.general-info-villa article:nth-of-type(1) {
    margin-top: 40px;
    align-self: flex-start;
    justify-self: flex-start;
    position: relative;
}

.general-info-villa article:nth-of-type(1) i {
    margin-left: 10px;
    color: #ffffff;
}

.general-info-villa article:nth-of-type(1) div {
    font-family: Forum;
    color: #B1B1B1;
    background-color: #717273;
    border: 2px solid #5f6368;
    position: absolute;
    left: 50%;
    border-radius: 10px;
    padding: 10px;
}

.general-info-villa article:nth-of-type(2) {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.general-info-villa article:nth-of-type(2) form>div .line-form {
    margin-bottom: 20px;
    border-bottom: 1px solid #ABABAA;
    margin-top: 20px;
    width: 300px;
}

.general-info-villa article:nth-of-type(2) form div label {
    color: #ffffff;
    font-family: Forum;
    font-size: 17px;
}

.general-info-villa article:nth-of-type(2) a {
    color: #A8A8A7;
    font-family: Montserrat;
    font-size: 13px;
    margin-left: 50%;
}

.general-info-villa article:nth-of-type(2) form div input {
    border: none;
    background: none;
    color: #A8A8A7;
    font-family: Montserrat;
}

.general-info-villa article:nth-of-type(2) form div input:focus {
  outline: none !important;
  border: none;
  background: none;
}

.general-info-villa article:nth-of-type(3) {
    margin-top: 30px;
}

.general-info-villa article:nth-of-type(3) button {
    background: none;
    border: 2px solid #ffffff;
    padding: 10px 20px 10px 20px;
    box-shadow: 0px 6px 13px 0px rgba(0,0,0,0.5);
     color: #A8A8A7;
    font-family: Forum;
    font-size: 18px;
    margin-bottom: 30px;

}

