/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: The Seasons;
    src: url(../fonts/Fontspring-DEMO-theseasons-lt.otf);
}

body {
    background-color: #535351;
}

nav {
    position: sticky;
    z-index: 1000;
    width: 100%;
    height: 100px;
    top: 0%;
    margin-bottom: 10%;
}


nav>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

nav>ul>li {
    color: #DCDFDE;
}

nav>ul>li>a {
    color: #DCDFDE;
    font-family: The Seasons;
    font-size: 22px;
}

nav>ul>li:nth-of-type(1) {
    font-size: 35px;
}


nav>ul>li:nth-of-type(2) img {
    width: 140px;
    position: absolute;
    left: 50%;
    top: -50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

nav>ul>li:nth-of-type(2) img.logo-nav-2 {
    display: none;
}


nav>ul>li:nth-of-type(3) {
    font-size: 25px;
}

.line {
    border-bottom: 1px solid #3D4141;
    position: absolute;
    width: 90%;
    bottom: 0%;
    left: 5%;
    right: 5%;
}


.nav-menu-phone {
    background-color: #545454;
    width: 85%;
    font-family: Forum;
    z-index: 101;
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.nav-menu-phone article:nth-of-type(1) ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-top: 15px;
    /* border-bottom: 1px solid white; */
}

.nav-menu-phone article:nth-of-type(1) ul li:nth-of-type(1) {
    margin-left: 15px;
    font-size: 45px;
    margin-top: 5px;
}


.nav-menu-phone article:nth-of-type(1) ul li:nth-of-type(3) {
    margin-right: 15px;
    font-size: 30px;
}


.nav-menu-phone article:nth-of-type(1) ul li:nth-of-type(2) img {
    width: 35%;
    position: absolute;
    left: 50%;
    top: 0%;
    -webkit-transform: translateX(-50%) translateY(-25%);
        -ms-transform: translateX(-50%) translateY(-25%);
            transform: translateX(-50%) translateY(-25%);
}

.line-menu {
    border-bottom: 1px solid white;
    margin-top: 34px;
    margin-left: 20px;
}

.nav-menu-phone article:nth-of-type(2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 20px;
}


.nav-menu-phone article:nth-of-type(2) button {
    background: none;
    width: 170px;
    height: 40px;
    border: 2px solid white;
    font-family: 'Forum';
    font-size: 25px;
    color: white;
    -webkit-box-shadow: -2px 7px 8px -3px rgba(0, 0, 0, 0.68);
    box-shadow: -2px 7px 8px -3px rgba(0, 0, 0, 0.68);
}

.nav-menu-phone article:nth-of-type(3) {
    margin-top: 60px;
    margin-left: 20px;
}


.nav-menu-phone article:nth-of-type(3)>ul li {
    line-height: 1.5;
}

.nav-menu-phone article:nth-of-type(3)>ul li a,
span {
    color: #C3C3C3;
    font-family: Forum;
    font-size: 30px;
    text-transform: uppercase;
}


.nav-menu-phone article:nth-of-type(3) ul li:nth-of-type(4) div ul li {
    line-height: 1;
}

.nav-menu-phone article:nth-of-type(3) ul li:nth-of-type(4) div ul li a {
    font-size: 18px;
}

.nav-menu-phone article:nth-of-type(4) {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 40px;
}


.nav-menu-phone article:nth-of-type(4) button {
    background: none;
    border: 2px solid white;
    -webkit-box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
    box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
    margin-right: 20px;
    padding: 5px 15px 5px 15px;
}

.nav-menu-phone article:nth-of-type(4) button a {
    font-family: 'Forum';
    font-size: 22px;
    color: white;
}

.close-menu-button {
    fill: #DCDFDE;
}


/* ----------------------------------------------------------------------------header------------------------------------------------------ */

header {
    font-family: Forum;
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    text-shadow: 0px 7px 2px rgb(255 255 255 / 55%);
}

/* -----------------------------------------------------------------------------main-------------------------------------------------------------- */


/* ---------------------------------------------section.general-info-villa------------------------------------------------- */


main {
    margin-top: 40%;
    margin-bottom: 60%;
}


main section article:nth-of-type(1) {
    -ms-flex-item-align: start;
        align-self: flex-start;
    justify-self: flex-start;
    position: relative;
}

main section article.flags-article:nth-of-type(1) {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

main section article:nth-of-type(1)>div:nth-of-type(1) {
    position: relative;
}

main section article:nth-of-type(1) i {
    color: #fbbc04;
    margin-left: 20px;
}

main section article.flags-article:nth-of-type(1) i {
    margin-left: 0px;
}

main section article:nth-of-type(1) div.definition {
    font-family: Forum;
    color: #B1B1B1;
    background-color: #717273;
    border: 2px solid #5f6368;
    position: absolute;
    left: 50%;
    border-radius: 10px;
    padding: 10px;
}

main section article.flags-article:nth-of-type(1)>div:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
    gap: 5px;
}

main section article.flags-article:nth-of-type(1)>div:last-of-type img {
    width: 6%;
}

main section article:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
}

main section article:nth-of-type(2) form>div .line-form {
    margin-bottom: 20px;
    border-bottom: 1px solid #ABABAA;
    margin-top: 20px;
    width: 300px;
}

main section article:nth-of-type(2) form div label {
    color: #ffffff;
    font-family: Forum;
    font-size: 17px;
}

.general-info-villa {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 60vh;
}

.general-info-villa article:nth-of-type(2) a {
    color: #A8A8A7;
    font-family: Montserrat;
    font-size: 13px;
    margin-left: 50%;
}

.general-info-villa article:nth-of-type(2) form div input {
    border: none;
    background: none;
    color: #A8A8A7;
    font-family: Montserrat;
}

.general-info-villa article:nth-of-type(2) form div input:focus {
    outline: none !important;
    border: none;
    background: none;
}

main section article:nth-of-type(3) {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

main section article:nth-of-type(3) button {
    background: none;
    border: 2px solid #ffffff;
    padding: 10px 20px 10px 20px;
    -webkit-box-shadow: 0px 6px 13px 0px rgb(0 0 0 / 50%);
            box-shadow: 0px 6px 13px 0px rgb(0 0 0 / 50%);
    color: #A8A8A7;
    font-family: Forum;
    font-size: 18px;
    margin-bottom: 20px;
    /* margin-top: 20px; */
}

.review-villa,
.add-photos,
.price-info-villa,
.social-media-info-villa {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10vh;
}

.review-villa {
    height: 25vh;
}

.review-villa article:nth-of-type(2) form div textarea {
    border: none;
    background: none;
    color: #A8A8A7;
    font-family: Montserrat;
}

.review-villa article:nth-of-type(2) form div textarea:focus {
    outline: none !important;
    border: none;
    background: none;
}

.add-photos {
    height: 50vh;
    gap: 40px;
}

.add-photos article:nth-of-type(2) {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 20px;
}

.add-photos article:nth-of-type(2) form div label {
    background: none;
    border: 2px solid #ffffff;
    padding: 10px 35px 10px 30px;
    -webkit-box-shadow: 0px 6px 13px 0px rgb(0 0 0 / 50%);
            box-shadow: 0px 6px 13px 0px rgb(0 0 0 / 50%);
    color: #A8A8A7;
    font-family: Forum;
    font-size: 14px;
    margin-bottom: 30px;
}


.add-photos article:nth-of-type(2) form div input {
    display: none;
}

.add-photos article:nth-of-type(2) form div:nth-of-type(2) label {
    background: none;
    border: none;
    padding: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.add-photos article:nth-of-type(2) form div:nth-of-type(2) p {
    border: 2px solid #ffffff;
    padding: 10px 35px 10px 30px;
    -webkit-box-shadow: 0px 6px 13px 0px rgb(0 0 0 / 50%);
            box-shadow: 0px 6px 13px 0px rgb(0 0 0 / 50%);
    width: 186px;
    margin-top: 30px;
}

.add-photos article:nth-of-type(2) form div:nth-of-type(3) label {
    background: none;
    border: none;
    padding: none;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.add-photos article:nth-of-type(2) form div:nth-of-type(3) p {
    border: 2px solid #ffffff;
    padding: 10px 35px 10px 30px;
    -webkit-box-shadow: 0px 6px 13px 0px rgb(0 0 0 / 50%);
            box-shadow: 0px 6px 13px 0px rgb(0 0 0 / 50%);
    width: 186px;
}

.price-info-villa {
    height: 70vh;
    gap: 30px;
}


.price-info-villa article:nth-of-type(1) div.definition p {
    width: 150px;
}

.price-info-villa article:nth-of-type(2) {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 20px;
}

.price-info-villa article:nth-of-type(2) form div input,
select {
    background: none;
    border: 2px solid #ffffff;
    padding: 10px 20px 10px 20px;
    -webkit-box-shadow: 0px 6px 13px 0px rgb(0 0 0 / 50%);
            box-shadow: 0px 6px 13px 0px rgb(0 0 0 / 50%);
    color: #A8A8A7;
    font-family: Forum;
    font-size: 14px;
    margin-bottom: 30px;
}

.price-info-villa article:nth-of-type(2) form div input::-webkit-input-placeholder {
    color: #A8A8A7;
    width: 300px;
}

.price-info-villa article:nth-of-type(2) form div input::-moz-placeholder {
    color: #A8A8A7;
    width: 300px;
}

.price-info-villa article:nth-of-type(2) form div input:-ms-input-placeholder {
    color: #A8A8A7;
    width: 300px;
}

.price-info-villa article:nth-of-type(2) form div input::-ms-input-placeholder {
    color: #A8A8A7;
    width: 300px;
}

.price-info-villa article:nth-of-type(2) form div input::placeholder {
    color: #A8A8A7;
    width: 300px;
}

.price-info-villa article:nth-of-type(2) form div input#price {
    padding-right: 85px;
}

.price-info-villa article:nth-of-type(2) form div select#currency {
    padding-right: 118px;
}

.price-info-villa article:nth-of-type(2) form div select#typeForRent {
    padding-right: 12px;
}


.price-info-villa article:nth-of-type(2) form div input#capacity,
input#numberOfRoom {
    padding-right: 87px;
}

.social-media-info-villa {
    height: 55vh;
    gap: 30px;
}

.social-media-info-villa article:nth-of-type(2) {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 20px;
}

.social-media-info-villa article:nth-of-type(2) form div {
    background: none;
    border: 2px solid #ffffff;
    padding: 10px 20px 10px 20px;
    -webkit-box-shadow: 0px 6px 13px 0px rgb(0 0 0 / 50%);
            box-shadow: 0px 6px 13px 0px rgb(0 0 0 / 50%);
    color: #A8A8A7;
    font-family: Forum;
    font-size: 14px;
    margin-bottom: 30px;
}


.social-media-info-villa article:nth-of-type(2) form div input {
    border: none;
    background: none;
    color: #A8A8A7;
    font-family: Montserrat;
}

.social-media-info-villa article:nth-of-type(2) form div input:focus {
    outline: none !important;
    border: none;
    background: none;
}

.social-media-info-villa article:nth-of-type(2) i {
    border: 1px solid #ffffff;
    border-radius: 100px;
    padding: 5px;
    font-size: 15px;
}

.social-media-info-villa article:nth-of-type(2) div:nth-of-type(1) i {
    padding-left: 7px;
    padding-right: 7px;
}

.catalogues-select-villa {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0%;
}

.catalogues-select-villa article:nth-of-type(2) form div img {
    width: 20%;
    -webkit-box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
            box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
}

main section article.three-div-elements:nth-of-type(1) {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

main section article.three-div-elements:nth-of-type(1) div:nth-of-type(2) {
    width: 35%;
    font-family: 'Forum';
    color: #ffffff;
}

main section article.three-div-elements:nth-of-type(1) div:nth-of-type(3) {
    width: 30%;
    font-family: 'Forum';
    color: #ffffff;
}


.catalogues-select-villa article:nth-of-type(2) form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.selectedCatalogues {
    border: 3px solid #A8A8A7;
}


.catalogues-select-villa article:nth-of-type(1) div.definition p {
    width: 110px;
}

.calender {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.calender article:nth-of-type(1) {
    color: #ffffff;
    font-family: Forum;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30%;
}

.calender article:nth-of-type(1) div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.calender article:nth-of-type(1) div h1 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 24px;
}

.calender article:nth-of-type(1) div h2 {
    -ms-flex-item-align: end;
        align-self: flex-end;
    font-size: 16px;
}

.calender article:nth-of-type(1) div h3 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 14px;
}

.calender article:nth-of-type(1) i {
    color: #fbbc04;
    margin-left: 0px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 5px;
}

.calender article:nth-of-type(1) div.definition {
    left: 10%;
    top: 100%;
}

.calender article:nth-of-type(1) div.definition p {
    width: 165px;
}

.calender article:nth-of-type(2) {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
    width: 60%;
    color: #ffffff;
    font-family: Forum;
    border-left: 1px solid #ABABAA;
    margin-bottom: 30px;
}

.calender article:nth-of-type(2)>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* align-items: flex-start; */
    width: 100%;
    margin-top: 5px;
}

.calender article:nth-of-type(2) div.calender-line {
    border-bottom: 1px solid #ABABAA;
    width: 105%;
}

.calender article:nth-of-type(2) div:nth-of-type(1) h4 {
    padding-bottom: 10px;
    padding-left: 10px;
}

.calender article:nth-of-type(2) div:nth-of-type(n + 1) p {
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 10px;
}

.calender article:nth-of-type(2) div:last-of-type {
    padding-top: 20px;
}

.calender article:nth-of-type(3) {
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
} 

.calender article:nth-of-type(3) i {
    position: absolute;
    left: 10%;
    font-size: 22px;
    color: #ffffff;
    top: 90%;
}

.calender article:nth-of-type(3) i:nth-of-type(2) {
    left: 85%;
}

.calender article:nth-of-type(4) {
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.calender article:nth-of-type(4) button {
    position: absolute;
    left: 20%;
    top: 96%;
    background: none;
    width: 62%;
    height: 40px;
    border: 2px solid white;
    -webkit-box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
    box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
}

.calender article:nth-of-type(4) button a {
    font-family: 'Forum';
    font-size: 15px;
    color: #A8A8A7;
}

.calender article:nth-of-type(4) button:nth-of-type(2) {
    top: 108%;
    font-family: 'Forum';
    font-size: 15px;
    color: #A8A8A7;
}

/* ----------------------------footer-------------------------------------- */

footer {
    margin-top: 50px;
    height: 60vh;
    background-image: url(../image/background-photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Forum;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

footer article:nth-of-type(1) {
    margin-top: 170px;
}

footer article:nth-of-type(2) {
    -ms-flex-item-align: end;
        align-self: flex-end;
}

footer article:nth-of-type(2) li:nth-of-type(1) {
    padding-bottom: 22px;
}


footer article:nth-of-type(2) a {
    color: white;
    font-size: 20px;
    border-radius: 70%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 70%;
    border: 1px solid white;
    padding: 5px 7px 5px 6px;
}


footer article:nth-of-type(2) li:nth-of-type(1) a {
    color: white;
    font-size: 20px;
    border-radius: 70%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 70%;
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
}



footer article:nth-of-type(3) {
    border-top: 1px solid #3D4141;
}

footer article:nth-of-type(3) p {
    font-size: 14px;
    margin-top: 5px;
}