@font-face {
    font-family: The Seasons;
    src: url(../fonts/Fontspring-DEMO-theseasons-lt.otf);
}

body {
    background-color: #535351;
}

nav {
    position: sticky;
    z-index: 1000;
    width: 100%;
    height: 100px;
    top: 0%;
    margin-bottom: 10%;
}


nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

nav>ul>li {
    color: #DCDFDE;
}

nav>ul>li>a {
    color: #DCDFDE;
    font-family: The Seasons;
    font-size: 22px;
}

nav>ul>li:nth-of-type(1) {
    font-size: 35px;
}


nav>ul>li:nth-of-type(2) img {
    width: 190px;
    position: absolute;
    left: 50%;
    top: -60%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

nav>ul>li:nth-of-type(2) img.logo-nav-2 {
    display: none;
}


nav>ul>li:nth-of-type(3) {
    font-size: 25px;
}

.line {
    border-bottom: 1px solid #3D4141;
    position: absolute;
    width: 90%;
    bottom: 0%;
    left: 5%;
    right: 5%;
}


.nav-menu-phone {
    background-color: #545454;
    width: 85%;
    font-family: Forum;
    z-index: 101;
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-menu-phone article:nth-of-type(1) ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 15px;
    /* border-bottom: 1px solid white; */
}

.nav-menu-phone article:nth-of-type(1) ul li:nth-of-type(1) {
    margin-left: 15px;
    font-size: 45px;
    margin-top: 5px;
}


.nav-menu-phone article:nth-of-type(1) ul li:nth-of-type(3) {
    margin-right: 15px;
    font-size: 30px;
    color: white;
}


.nav-menu-phone article:nth-of-type(1) ul li:nth-of-type(2) img {
    width: 60%;
    position: absolute;
    left: 50%;
    top: -20%;
    -webkit-transform: translateX(-50%) translateY(-25%);
    -ms-transform: translateX(-50%) translateY(-25%);
    transform: translateX(-50%) translateY(-25%);
    z-index: -1;
}

.line-menu {
    border-bottom: 1px solid white;
    margin-top: 34px;
    margin-left: 20px;
}

.nav-menu-phone article:nth-of-type(2) {
    align-self: center;
    margin-top: 20px;
}


.nav-menu-phone article:nth-of-type(2) button {
    background: none;
    width: 170px;
    height: 40px;
    border: 2px solid white;
    font-family: 'Forum';
    font-size: 25px;
    color: white;
    -webkit-box-shadow: -2px 7px 8px -3px rgba(0, 0, 0, 0.68);
    box-shadow: -2px 7px 8px -3px rgba(0, 0, 0, 0.68);
}

.nav-menu-phone article:nth-of-type(3) {
    margin-top: 60px;
    margin-left: 20px;
}


.nav-menu-phone article:nth-of-type(3)>ul li {
    line-height: 1.5;
}

.nav-menu-phone article:nth-of-type(3)>ul li a,
span {
    color: #C3C3C3;
    font-family: Forum;
    font-size: 30px;
    text-transform: uppercase;
}


.nav-menu-phone article:nth-of-type(3) ul li:nth-of-type(4) div ul li {
    line-height: 1;
}

.nav-menu-phone article:nth-of-type(3) ul li:nth-of-type(4) div ul li a {
    font-size: 18px;
}

.nav-menu-phone article:nth-of-type(4) {
    align-self: flex-end;
    margin-top: 40px;
}


.nav-menu-phone article:nth-of-type(4) button {
    background: none;
    border: 2px solid white;
    -webkit-box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
    box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
    margin-right: 20px;
    padding: 5px 15px 5px 15px;
}

.nav-menu-phone article:nth-of-type(4) button a {
    font-family: 'Forum';
    font-size: 22px;
    color: white;
}

.close-menu-button {
    fill: #DCDFDE;
}


/* ----------------------------header---------------------------------------------------------- */


header>i {
    padding-left: 5%;
    font-size: 24px;
    color: rgb(255, 255, 255, 0.5);
}

.catalogues-menu {
    width: 100%;
    height: 300vh;
    background-color: #35332e;
    position: absolute;
    z-index: 1000;
    top: 2%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.catalogues-menu>i {
    padding-top: 20px;
    font-size: 30px;
    padding-left: 20px;
    color: #ffffff;
}

.catalogues-menu img {
    width: 60%;
}

.catalogues-menu article {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.catalogues-menu article div {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalogues-menu article div i {
    position: absolute;
    bottom: 85%;
    left: 72%;
    color: #ffffff;
    font-size: 22px;
    background-color: rgb(0, 0, 0, 0.3);
    padding: 2px 5px;
    border-radius: 77%;
}

.catalogues-menu button {
    position: sticky;
    top: 87%;
    background: none;
    border: none;
}

.catalogues-menu button a {
    color: #ffffff;
    font-size: 80px;
    font-family: Montserrat;
    font-weight: lighter;

}



/* -------------------------------------------------------------------------------main------------------------------------------------------------------------------- */
main {
    margin-top: 10%;
    width: 100%;
}

.object-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20%;
}

.object-item>p {
    font-family: "The Seasons";
    color: #fbbc04;
    position: absolute;
    top: 2%;
    left: 60%;
    font-size: 22px;
}

.object-item img {
    width: 80%;
    padding-top: 18px;
}

.object-item h1 {
    position: absolute;
    bottom: -133%;
    left: 5%;
    font-family: Montserrat;
    color: rgb(255, 255, 255);
    width: 0%;
    font-size: 24px;
    text-transform: uppercase;
}

.object-item article {
    position: relative;
    width: 100%;
}

.object-item article p {
    position: absolute;
    left: 5%;
    bottom: -240%;
    color: rgb(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: lighter;
    font-size: 24px;
}

.object-item i {
    position: absolute;
    left: 83%;
    font-size: 18px;
    color: #ffffff;
    bottom: 40%;
}

.object-item h3 {
    opacity: 0;
}