/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: The Seasons;
    src: url(../fonts/Fontspring-DEMO-theseasons-lt.otf);
}

body {
    background-color: #535351;
}

nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100px;
}


nav>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

nav>ul>li {
    color: #DCDFDE;
}

nav>ul>li>a {
    color: #DCDFDE;
    font-family: The Seasons;
    font-size: 22px;
}

nav>ul>li:nth-of-type(1) {
    font-size: 35px;
}


nav>ul>li:nth-of-type(2) img {
    width: 140px;
    position: absolute;
    left: 50%;
    top: -50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

nav>ul>li:nth-of-type(2) img.logo-nav-2 {
    display: none;
}


nav>ul>li:nth-of-type(3) {
    font-size: 25px;
}

.line {
    border-bottom: 1px solid #3D4141;
    position: absolute;
    width: 90%;
    bottom: 0%;
    left: 5%;
    right: 5%;
}


.nav-menu-phone {
    background-color: #545454;
    width: 85%;
    font-family: Forum;
    z-index: 101;
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.nav-menu-phone article:nth-of-type(1) ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-top: 15px;
    /* border-bottom: 1px solid white; */
}

.nav-menu-phone article:nth-of-type(1) ul li:nth-of-type(1) {
    margin-left: 15px;
    font-size: 45px;
    margin-top: 5px;
}


.nav-menu-phone article:nth-of-type(1) ul li:nth-of-type(3) {
    margin-right: 15px;
    font-size: 30px;
}


.nav-menu-phone article:nth-of-type(1) ul li:nth-of-type(2) img {
    width: 35%;
    position: absolute;
    left: 50%;
    top: 0%;
    -webkit-transform: translateX(-50%) translateY(-25%);
        -ms-transform: translateX(-50%) translateY(-25%);
            transform: translateX(-50%) translateY(-25%);
}

.line-menu {
    border-bottom: 1px solid white;
    margin-top: 34px;
    margin-left: 20px;
}

.nav-menu-phone article:nth-of-type(2) {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 20px;
}


.nav-menu-phone article:nth-of-type(2) button {
    background: none;
    width: 170px;
    height: 40px;
    border: 2px solid white;
    font-family: 'Forum';
    font-size: 25px;
    color: white;
    -webkit-box-shadow: -2px 7px 8px -3px rgba(0, 0, 0, 0.68);
    box-shadow: -2px 7px 8px -3px rgba(0, 0, 0, 0.68);
}

.nav-menu-phone article:nth-of-type(3) {
    margin-top: 60px;
    margin-left: 20px;
}


.nav-menu-phone article:nth-of-type(3)>ul li {
    line-height: 1.5;
}

.nav-menu-phone article:nth-of-type(3)>ul li a,
span {
    color: #C3C3C3;
    font-family: Forum;
    font-size: 30px;
    text-transform: uppercase;
}


.nav-menu-phone article:nth-of-type(3) ul li:nth-of-type(4) div ul li {
    line-height: 1;
}

.nav-menu-phone article:nth-of-type(3) ul li:nth-of-type(4) div ul li a {
    font-size: 18px;
}

.nav-menu-phone article:nth-of-type(4) {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 40px;
}


.nav-menu-phone article:nth-of-type(4) button {
    background: none;
    border: 2px solid white;
    -webkit-box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
    box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
    margin-right: 20px;
    padding: 5px 15px 5px 15px;
}

.nav-menu-phone article:nth-of-type(4) button a {
    font-family: 'Forum';
    font-size: 22px;
    color: white;
}

.close-menu-button {
    fill: #DCDFDE;
}

/* ------------------------------------------------------------------header--------------------------------------------  */

header {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    position: relative;
}

header h1 {
    font-family: "Cormorant Garamond";
    color: white;
    font-size: 22px;
    text-shadow: 0px 5px 2px rgba(255, 255, 255, 0.55);
    text-align: center;
    margin-top: 50px;
}

header div {
    margin-top: 50px;
    position: relative;
}

header div h2 {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-family: "The Seasons";
    color: white;
}

header div h3 {
    position: absolute;
    left: 92%;
    top: 5%;
    -webkit-transform: translateX(-92%);
        -ms-transform: translateX(-92%);
            transform: translateX(-92%);
    font-family: "Cormorant Garamond";
    color: white;

}

header div h3:nth-of-type(2) {
    top: 10%;
}


header img {
    width: 50%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

header h4 {
    position: absolute;
    color: white;
    font-family: Forum;
    /* font-size: 200px; */
    overflow: hidden;
    bottom: 5%;
    width: 100%;
    opacity: 0.5;
}


/* ----------------------------------------------------------------------------main------------------------------------------------------------------------ */

main {
    margin-top: 50px;
}

/* ---------------------------------------------------------------class.exclusive-------------------------------------------------- */
.exclusive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50%;
}

.exclusive article:nth-of-type(1) h1 {
    padding-left: 5px;
    font-family: "The Seasons";
    color: #8A8A88;
    opacity: 0.8;
    font-size: 45px;
}

.exclusive article:nth-of-type(1) p {
    font-family: "Cormorant Garamond";
    color: white;
    padding-left: 10px;
    font-size: 15px;
    width: 70px;
    margin-top: 25px;
}

.exclusive article:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* padding-right: 145px; */
    width: 100%;
    margin-right: 70px;
    position: relative;
    width: 100%;
}

.exclusive article:nth-of-type(2) h1 {
    font-family: "The Seasons";
    color: #8A8A88;
    opacity: 0.8;
    font-size: 33px;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
    padding-bottom: 180px;
}

.exclusive img:nth-of-type(1) {
    position: absolute;
    width: 75%;
    top: 0%;
}

.exclusive img:nth-of-type(2) {
    position: absolute;
    left: 80%;
    top: 0%;
}

.exclusive img:nth-of-type(3) {
    position: absolute;
    /* right: 0%; */
    width: 65%;
    top: 50%;
    left: 55%;
}


.exclusive img {
    width: 50%;
}

/* ---------------------------------------------------------------class.catalogues-list-page-------------------------------------------------- */

.catalogues-list-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
    /* margin-bottom: 140px; */
}


.catalogues-list-page article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;

}

.catalogues-list-page article a:nth-of-type(1) img {
    margin-left: 5px;
}

.catalogues-list-page article a:nth-of-type(2) img {
    position: absolute;
    left: 49%;
    -webkit-transform: translateX(-49%);
        -ms-transform: translateX(-49%);
            transform: translateX(-49%);
    bottom: 25%;
    width: 30%;
}

.catalogues-list-page article a:nth-of-type(3) img {
    margin-right: 0px;
}

.catalogues-list-page a {
    width: 100%;
}

.catalogues-list-page a img {
    width: 90%;
}

.catalogues-list-page article:nth-of-type(15) {
    width: 100%;
}

.catalogues-list-page article:nth-of-type(15) a img {
    position: absolute;
    width: 30%;
    left: 33%;
    top: -40px;
}

.catalogues-list-page article:last-of-type {
    margin-top: 30%;
    font-size: 25px;
    margin-bottom: 15%;
}

.catalogues-list-page article:last-of-type a {
    color: #8A8A88;
    margin-top: 10px;
}


/* --------------------------------------------------------------------footer------------------------------------------ */


footer {
    height: 60vh;
    background-image: url(../image/background-photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Forum;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

footer article:nth-of-type(1) {
    margin-top: 170px;
}

footer article:nth-of-type(2) {
    -ms-flex-item-align: end;
        align-self: flex-end;
}

footer article:nth-of-type(2) li:nth-of-type(1) {
    padding-bottom: 22px;
}


footer article:nth-of-type(2) a {
    color: white;
    font-size: 20px;
    border-radius: 70%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 70%;
    border: 1px solid white;
    padding: 5px 7px 5px 6px;
}


footer article:nth-of-type(2) li:nth-of-type(1) a {
    color: white;
    font-size: 20px;
    border-radius: 70%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 70%;
    border: 1px solid white;
    padding: 5px 10px 5px 10px;
}



footer article:nth-of-type(3) {
    border-top: 1px solid #3D4141;
}

footer article:nth-of-type(3) p {
    font-size: 14px;
    margin-top: 5px;
}