/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
    font-family: The Seasons;
    src: url(../fonts/Fontspring-DEMO-theseasons-lt.otf);
}

body {
    background-color: #312e2d;
}

nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100px;
    background-color: #312e2d;
}


nav>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

nav>ul>li {
    color: #DCDFDE;
}

nav>ul>li>a {
    color: #DCDFDE;
    font-family: The Seasons;
    font-size: 22px;
}

nav>ul>li:nth-of-type(1) {
    font-size: 35px;
}


nav>ul>li:nth-of-type(2) img {
    width: 190px;
    position: absolute;
    left: 50%;
    top: -60%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

nav>ul>li:nth-of-type(2) img.logo-nav-2 {
    display: none;
}


nav>ul>li:nth-of-type(3) {
    font-size: 25px;
}

.line {
    border-bottom: 1px solid #3D4141;
    position: absolute;
    width: 90%;
    bottom: 0%;
    left: 5%;
    right: 5%;
}


.nav-menu-phone {
    background-color: #27251E;
    width: 100%;
    font-family: Forum;
    z-index: 101;
    position: absolute;
    left: 0%;
    top: 10%;
    height: 100vh;
    overflow: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    justify-content: space-between;
}

.close-menu-button {
    fill: #DCDFDE;
    padding-left: 20px;
    padding-top: 20px;
}

.nav-menu-phone article:nth-of-type(2) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-menu-phone article:nth-of-type(2) ul>li>a,
span {
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 26px;
    text-transform: uppercase;
}

.nav-menu-phone .role-list div.guest-section ul ,
.nav-menu-phone .role-list div.host-section ul {
    border-left: 2px solid #ffffff;
}


.nav-menu-phone .role-list div.guest-section ul li a,
.nav-menu-phone .role-list div.host-section ul li a {
    font-size: 18px;
    color: rgb(255, 255, 255, 0.5);
    padding-left: 5px;
}

.nav-menu-phone article:nth-of-type(3) {
    padding-bottom: 20px;
    align-self: center;
}

.nav-menu-phone article:nth-of-type(3) button {
    border: none;
    background-color: #212123;
    border-radius: 20px;
    padding: 7px 40px;
    box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
    font-family: Forum;
    color: rgb(255, 255, 255, 0.5);
    font-size: 18px;
}

/* ------------------------------------------------------------------header--------------------------------------------  */

header {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    position: relative;
}

header h1 {
    font-family: "Cormorant Garamond";
    color: white;
    font-size: 22px;
    text-shadow: 0px 5px 2px rgba(255, 255, 255, 0.55);
    text-align: center;
    margin-top: 50px;
}

header div {
    margin-top: 50px;
    position: relative;
}

header div h2 {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    font-family: "The Seasons";
    color: white;
}

header div h3 {
    position: absolute;
    left: 92%;
    top: 5%;
    -webkit-transform: translateX(-92%);
        -ms-transform: translateX(-92%);
            transform: translateX(-92%);
    font-family: "Cormorant Garamond";
    color: white;

}

header div h3:nth-of-type(2) {
    top: 10%;
}


header img {
    width: 50%;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

header h4 {
    position: absolute;
    color: white;
    font-family: Forum;
    /* font-size: 200px; */
    overflow: hidden;
    bottom: 5%;
    width: 100%;
    opacity: 0.5;
}


/* ----------------------------------------------------------------------------main------------------------------------------------------------------------ */

main {
    margin-top: 50px;
}

/* ---------------------------------------------------------------class.exclusive-------------------------------------------------- */
.exclusive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 50%;
}

.exclusive article:nth-of-type(1) h1 {
    padding-left: 5px;
    font-family: "The Seasons";
    color: #8A8A88;
    opacity: 0.8;
    font-size: 45px;
}

.exclusive article:nth-of-type(1) p {
    font-family: "Cormorant Garamond";
    color: white;
    padding-left: 10px;
    font-size: 15px;
    width: 70px;
    margin-top: 25px;
}

.exclusive article:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* padding-right: 145px; */
    width: 100%;
    margin-right: 70px;
    position: relative;
    width: 100%;
}

.exclusive article:nth-of-type(2) h1 {
    font-family: "The Seasons";
    color: #8A8A88;
    opacity: 0.8;
    font-size: 33px;
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg);
    padding-bottom: 180px;
}

.exclusive img:nth-of-type(1) {
    position: absolute;
    width: 75%;
    top: 0%;
}

.exclusive img:nth-of-type(2) {
    position: absolute;
    left: 80%;
    top: 0%;
}

.exclusive img:nth-of-type(3) {
    position: absolute;
    /* right: 0%; */
    width: 65%;
    top: 50%;
    left: 55%;
}


.exclusive img {
    width: 50%;
}

/* ---------------------------------------------------------------class.catalogues-list-page-------------------------------------------------- */

.catalogues-list-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
    /* margin-bottom: 140px; */
    position: relative;
}

.catalogues-list-page h1 {
    margin-bottom: -45%;
    font-family: 'Montserrat';
    color: rgb(255, 255, 255, 0.5);
    text-transform: uppercase;
    font-size: 16px;
}

.catalogues-list-page button {
    background-color: #737271;
    padding-top: 54%;
    padding-left: 50%;
    padding-right: 5%;
    border: none;
    position: sticky;
    top: 89%;
    z-index: 90;
    opacity: 0.7;
    border-radius: 68%;
}

.catalogues-list-page button a {
    position: absolute;
    right: 0%;
    bottom: 70%;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'THE SEASONS';
    font-size: 25px;
}

.catalogues-list-page article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;

}

.catalogues-list-page article img:nth-of-type(1) {
    margin-left: 5px;
}

.catalogues-list-page article img:nth-of-type(2) {
    position: absolute;
    left: 49%;
    -webkit-transform: translateX(-49%);
        -ms-transform: translateX(-49%);
            transform: translateX(-49%);
    bottom: 25%;
    width: 30%;
}

.catalogues-list-page article img:nth-of-type(3) {
    margin-right: 10px;
}

.catalogues-list-page a {
    width: 100%;
}

.catalogues-list-page img {
    width: 30%;
}

.catalogues-list-page article:last-of-type {
    margin-top: 0%;
    font-size: 25px;
    margin-bottom: 15%;
}

.catalogues-list-page article:last-of-type a {
    color: #8A8A88;
    margin-top: 0px;
}

.selectedCatalogues {
    border: 2px solid #A8A8A7;
}


/* ----------------------------footer-------------------------------------- */

footer {
    margin-top: 50px;
    height: 82vh;
    background-color: #312e2d;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Forum;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}



footer article:nth-of-type(1),
footer article:nth-of-type(2) {
    align-self: flex-start;
    margin-top: 30px;
    margin-left: 20px;
}

footer article:nth-of-type(1) h1,
footer article:nth-of-type(2) h1 {
    font-family: Montserrat;
    font-size: 30px;
}

footer article:nth-of-type(1) ul,
footer article:nth-of-type(2) ul {
    line-height: 1.2;
    margin-top: 10px;
}

footer article:nth-of-type(1) ul li a,
footer article:nth-of-type(2) ul li {
    color: #fbbc04;
    font-size: 16px;
}

footer article:nth-of-type(1) ul li a {
    text-transform: uppercase;
}

footer article:nth-of-type(3) {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 10px;
}

footer article:nth-of-type(3) li:nth-of-type(1) {
    padding-bottom: 22px;
}


footer article:nth-of-type(3) a {
    color: white;
    font-size: 20px;
    border-radius: 70%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 70%;
    border: 1px solid white;
    padding: 6px 7px 4px 7px;
}

footer article:nth-of-type(3) li:nth-of-type(1) a {
    color: white;
    font-size: 20px;
    border-radius: 70%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 70%;
    border: 1px solid white;
    padding: 6px 10px 5px 10px;
}


footer article:nth-of-type(4) {
    align-self: flex-start;
    margin-left: 10px;
}

footer article:nth-of-type(4) ul {
    display: flex;
    gap: 10px;
    padding-bottom: 5px;
}

footer article:nth-of-type(4) div:nth-of-type(2) {
    width: 97%;
    border-bottom: 1px solid #ffffff;
}

footer article:nth-of-type(4) div:nth-of-type(3) {
    display: flex;
    font-size: 12px;
    gap: 85px;
    align-items: center;
    justify-content: space-between;
}