@font-face {
    font-family: The Seasons;
    src: url(../fonts/Fontspring-DEMO-theseasons-lt.otf);
}


body {
    background-color: #312e2d;
}

nav {
    position: sticky;
    z-index: 1000;
    width: 100%;
    height: 100px;
    top: 0%;
    margin-bottom: 10%;
    background-color: #312e2d;
}

nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

nav>ul>li {
    color: #ffffff;
}

nav>ul>li>a {
    font-family: The Seasons;
    font-size: 22px;
    color: #ffffff;
}

nav>ul>li:nth-of-type(1) {
    font-size: 35px;
}


nav>ul>li:nth-of-type(2) img {
    width: 190px;
    position: absolute;
    left: 50%;
    top: -60%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

nav>ul>li:nth-of-type(2) img.logo-nav-2 {
    display: none;
}


nav>ul>li:nth-of-type(3) {
    font-size: 25px;
}

.line {
    border-bottom: 1px solid #3D4141;
    position: absolute;
    width: 90%;
    bottom: 0%;
    left: 5%;
    right: 5%;
}

.nav-menu-phone {
    background-color: #27251E;
    width: 100%;
    font-family: Forum;
    z-index: 101;
    position: absolute;
    left: 0%;
    top: 10%;
    height: 100vh;
    overflow: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.close-menu-button {
    fill: #DCDFDE;
    padding-left: 20px;
    padding-top: 20px;
}

.nav-menu-phone article:nth-of-type(1)>div {
    padding-top: 10%;
    padding-left: 20px;
}

.nav-menu-phone article:nth-of-type(1)>div ul {
    display: flex;
    font-size: 20px;
    font-family: 'Montserrat';
    gap: 40px;
    border-bottom: 2px solid rgb(255, 255, 255, 0.2);
    width: 95%;
    padding-bottom: 5px;
}

.nav-menu-phone article:nth-of-type(1)>div ul li {
    position: relative;
    color: #ffffff;
}

.nav-menu-phone article:nth-of-type(1)>div ul li div {
    border-bottom: 2px solid #ffffff;
    position: absolute;
    width: 100%;
    bottom: -7px;
    transition: 2ms ease-in;
}

.nav-menu-phone article:nth-of-type(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
    transform: translateY(-50%);
}

.nav-menu-phone article:nth-of-type(2) ul>li>a,
span {
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 26px;
    text-transform: uppercase;
}

.nav-menu-phone .role-list div.guest-section ul,
.nav-menu-phone .role-list div.host-section ul {
    border-left: 2px solid #ffffff;
}


.nav-menu-phone .role-list div.guest-section ul li a,
.nav-menu-phone .role-list div.host-section ul li a {
    font-size: 18px;
    color: rgb(255, 255, 255, 0.5);
    padding-left: 5px;
}


/* ---------------------------------------------------------------------header--------------------------------------------------------------------- */

header {
    width: 100%;
    font-family: Montserrat;
    color: #ffffff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

header>div:nth-of-type(1) {
    padding-left: 5%;
}

header>div:nth-of-type(1) h1 {
    width: 90%;
    line-height: 1.2;
    font-size: 25px;
}

header>div:nth-of-type(1) h2 {
    font-size: 10px;
    color: rgb(255, 255, 255, 0.5);
    padding-top: 5px;
}

header>div:nth-of-type(2) {
    margin-right: 5%;
    margin-top: 1.5%;
}

header>div:nth-of-type(2)>p {
    font-size: 9px;
    font-family: 'Montserrat';
    padding-top: 3px;
}

.swipe-check {
    background-color: #77b800;
    width: 50px;
    height: 25px;
    border-radius: 12px;
    position: relative;

}

.swipe-check p {
    position: absolute;
    right: 5%;
    padding: 0px;
    background-color: #ffffff;
    width: 20px;
    border-radius: 50%;
    height: 20px;
    top: 10%;
}

/* -----------------------------------------------------------------------------main-------------------------------------------------------------- */

section.categories {
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

section.categories article:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    color: #ffffff;
    background-color: #484544;
    width: 90%;
    height: 95px;
    border-radius: 22px;
}

section.categories article:nth-of-type(1) p:nth-of-type(1) {
    font-size: 12px;
    text-transform: uppercase;
    align-self: flex-end;
    padding-top: 12px;
    padding-right: 15px;
}

section.categories article:nth-of-type(1) p:nth-of-type(2) {
    font-size: 32px;
    padding-left: 15px;
    padding-top: 8px;
}

section.categories article:nth-of-type(1) p:nth-of-type(3) {
    align-self: flex-end;
    padding-right: 13px;
    font-size: 22px;
}

section.categories article:nth-of-type(2) {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.categories article:nth-of-type(2) {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.categories article:nth-of-type(2) img {
    width: 90%;
    border-radius: 18px;
}

section.categories article:nth-of-type(2) div {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: #ffffff;
    position: absolute;
    top: 88%;
}

section.categories article:nth-of-type(2) div h3 {
    font-size: 25px;
    padding-left: 6%;
}

section.categories article:nth-of-type(2) div p {
    font-size: 22px;
    padding-right: 6%;
}

section.categories article:nth-of-type(3) {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat';
    color: #ffffff;
}

section.categories article:nth-of-type(3)>div {
    background-color: #484544;
    width: 48%;
    height: 28vh;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.categories article:nth-of-type(3)>div>p:nth-of-type(1) {
    padding-top: 5%;
    align-self: flex-end;
    padding-right: 12px;
    text-transform: uppercase;
    font-size: 10px;
}

section.categories article:nth-of-type(3)>div>p:nth-of-type(2) {
    align-self: center;
    font-size: 26px;
    padding-bottom: 8px;
}

section.categories article:nth-of-type(3)>div div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
}

section.categories article:nth-of-type(3)>div div p:nth-of-type(1) {
    font-size: 26px;
    padding-left: 8px;
}

section.categories article:nth-of-type(3)>div div p:nth-of-type(2) {
    font-size: 14px;
    padding-right: 8px;
}

section.categories article:nth-of-type(4) {
    background-color: #484544;
    width: 90%;
    border-radius: 16px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Montserrat;
}


section.categories article:nth-of-type(4) div:nth-of-type(1) {
    padding-top: 30px;
    padding-left: 20px;
}

section.categories article:nth-of-type(4) div:nth-of-type(1) ul {
    line-height: 1.6;
    font-size: 15px;
}

section.categories article:nth-of-type(4) div:nth-of-type(1) ul li.busy-date {
    color: #ea4335;
}

section.categories article:nth-of-type(4) div:nth-of-type(1) ul li.open-date {
    color: #77b800;
}

section.categories article:nth-of-type(4) div:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding-bottom: 10px;
}


section.categories article:nth-of-type(4) div:nth-of-type(2) p:nth-of-type(1) {
    padding-left: 15px;
    font-size: 25px;
}

section.categories article:nth-of-type(4) div:nth-of-type(2) p:nth-of-type(2) {
    padding-right: 10px;
    font-size: 20px;
}

section.categories article:nth-of-type(5) {
    width: 90%;
    display: flex;
    flex-direction: column;
}

section.categories article:nth-of-type(5)>div:nth-of-type(1) {
    display: flex;
    gap: 10px;
    overflow: scroll;
    align-items: center;
}

section.categories article:nth-of-type(5)>div:nth-of-type(1) div {
    position: relative;
    padding-top: 20px;
}

section.categories article:nth-of-type(5)>div:nth-of-type(1) div svg.delete-catalog-img {
    position: absolute;
    top: 0%;
    left: 86%;
    fill: #ffffff;
    background-color: rgb(0, 0, 0, 0.3);
    padding: 8px;
    border-radius: 30px;
}

section.categories article:nth-of-type(5)>div:nth-of-type(1) div:nth-of-type(1n + 2) svg.delete-catalog-img {
    display: none;
}

section.categories article:nth-of-type(5)>div:nth-of-type(1) div img {
    width: 200px;
    border-radius: 15px;
    transition: 500ms;
}

section.categories article:nth-of-type(5)>div:nth-of-type(1) div:nth-of-type(1n + 2) img {
    width: 170px;
    opacity: 0.3;
}

section.categories article:nth-of-type(5)>div:nth-of-type(1)>div.adding-div {
    background-color: #484544;
    padding: 38% 25%;
    border-radius: 18px;
}

section.categories article:nth-of-type(5)>div:nth-of-type(1)>div i {
    color: #ffffff;
    font-size: 35px;
}

section.categories article:nth-of-type(6) {
    margin-top: 10%;
    width: 90%;
    background-color: #484544;
    height: 95px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Montserrat';
    color: #ffffff;
}

section.categories article:nth-of-type(6) p:nth-of-type(1) {
    font-size: 35px;
    padding-left: 10px;
    padding-top: 25px;
}

section.categories article:nth-of-type(6) p:nth-of-type(2) {
    align-self: flex-end;
    padding-right: 12px;
    padding-bottom: 5px;
    font-size: 22px;
}


section.categories article:nth-of-type(7) {
    width: 90%;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    color: #ffffff;
    gap: 5px;
}

section.categories article:nth-of-type(7) div:nth-of-type(1) {
    width: 80%;
    background-color: #484544;
    height: 95px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section.categories article:nth-of-type(7) div:nth-of-type(1) p:nth-of-type(1) {
    font-size: 35px;
    padding-left: 10px;
    padding-top: 25px;
}

section.categories article:nth-of-type(7) div:nth-of-type(1) p:nth-of-type(2) {
    align-self: flex-end;
    padding-right: 12px;
    padding-bottom: 5px;
    font-size: 22px;
}

section.categories article:nth-of-type(7) div:nth-of-type(2) {
    width: 30%;
    background-color: #484544;
    height: 95px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}


/* ----------------------------------------------------------------main section.clouds------------------------------------------------------- */

section.clouds article.categories-add-clouds {
    display: none;
}

section.clouds article.views {
    flex-direction: column;
    gap: 60px;
    position: absolute;
    top: 2%;
    background-color: #27251E;
    width: 100%;
    height: 500vh;
    z-index: 1001;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

section.clouds article.views div:nth-of-type(1) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.clouds article.views div:nth-of-type(1) svg {
    padding-left: 15px;
    fill: #ffffff;
    padding-top: 15px;
}

section.clouds article.views div:nth-of-type(1) p {
    font-size: 24px;
    color: #ffffff;
    font-family: 'The Seasons';
    padding-right: 15px;
    padding-top: 20px;
}

section.clouds article.views h1 {
    padding-top: 20px;
    padding-left: 15px;
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 20px;
}

section.clouds article.views div:nth-of-type(2) {
    margin-left: 30px;
}

section.clouds article.views div:nth-of-type(2) h2 {
    font-family: 'Montserrat';
    font-weight: 500;
    color: rgb(255, 255, 255, 0.5);
    padding-bottom: 25px;
    font-size: 35px;
}

section.clouds article.views div:nth-of-type(2) ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

section.clouds article.views div:nth-of-type(2) ul li {
    display: flex;
    gap: 40px;
    align-items: center;
}

section.clouds article.views div:nth-of-type(2) ul li p:nth-of-type(1) {
    font-family: "Open Sans";
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    transform: rotate(270deg);
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}

section.clouds article.views div:nth-of-type(2) ul li p:nth-of-type(2) {
    font-family: 'Montserrat';
    color: rgb(255, 255, 255, 0.5);
    font-size: 28px;
}



section.clouds article.gallery {
    background-color: #ffffff;
    position: absolute;
    top: 2%;
    width: 100%;
    height: 500vh;
    z-index: 1001;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex-direction: column;
    align-items: flex-start;
}

section.clouds article.gallery>div:nth-of-type(1) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.clouds article.gallery>div:nth-of-type(1) svg {
    padding-top: 20px;
    padding-left: 20px;
    fill: #312e2d;
}

section.clouds article.gallery>div:nth-of-type(1) p {
    font-size: 24px;
    color: #312e2d;
    font-family: 'The Seasons';
    padding-right: 15px;
    padding-top: 20px;
}

section.clouds article.gallery>div:nth-of-type(2) {
    position: relative;
    width: 100%;
}

section.clouds article.gallery>div:nth-of-type(2) h1 {
    padding-top: 45px;
    margin-left: 20px;
    font-family: 'Montserrat';
    color: #35332e;
    font-size: 18px;
    border-bottom: 2px solid;
    padding-bottom: 7px;
    width: 60px;
}

section.clouds article.gallery>div:nth-of-type(2) div.line-gallery {
    width: 85%;
    border-bottom: 2px solid black;
    margin-left: 20px;
    opacity: 0.2;
    position: absolute;
    bottom: 0%;
}

section.clouds article.gallery>div:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 45px;
    font-family: 'Montserrat';
    color: #35332e;
    font-size: 15px;
    position: relative;
}

section.clouds article.gallery>div:nth-of-type(3)>div:nth-of-type(1) {
    position: relative;
    width: 100%;
}

section.clouds article.gallery>div:nth-of-type(3)>div:nth-of-type(1) svg {
    position: absolute;
    left: 50%;
    fill: #ffffff;
    background-color: rgb(83, 83, 81, 0.3);
    padding: 4px;
    border-radius: 14px;
}

section.clouds article.gallery>div:nth-of-type(3)>div:nth-of-type(1) img {
    width: 55%;
    border-radius: 5px;
    height: 100%;
    margin-top: 10px;
}

section.clouds article.gallery>div:nth-of-type(3)>div:nth-of-type(2) {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

section.clouds article.gallery>div:nth-of-type(3)>div:nth-of-type(2) div.row-gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 56px;
}

section.clouds article.gallery>div:nth-of-type(3)>div:nth-of-type(2) div.row-gallery div {
    width: 100%;
    position: relative;
}

section.clouds article.gallery>div:nth-of-type(3)>div:nth-of-type(2) div.row-gallery div svg {
    position: absolute;
    left: 80%;
    top: 0%;
    fill: #ffffff;
    background-color: rgb(83, 83, 81, 0.3);
    padding: 2px;
    border-radius: 17px;
}

section.clouds article.gallery>div:nth-of-type(3)>div:nth-of-type(2) div.row-gallery div img {
    width: 90%;
    height: calc(90% + 35%);
    border-radius: 10px;
    margin-top: 10px;
}

section.clouds article.gallery>div:nth-of-type(3) i {
    font-size: 40px;
    color: #ffffff;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
}

section.clouds article.gallery>div:nth-of-type(3)>div:nth-of-type(3) {
    background-color: rgb(83, 83, 81, 0.3);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 200px;
    height: 100px;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
}



section.clouds article.subscribe-plan {
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    height: 42%;
    position: fixed;
    bottom: 0%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: 'Montserrat';
    justify-content: space-between;
}

section.clouds article.subscribe-plan svg {
    align-self: flex-end;
    padding-right: 20px;
    padding-top: 15px;
    fill: #35332e;
}

section.clouds article.subscribe-plan h1 {
    align-self: center;
    font-size: 150px;
    font-weight: 100;
    color: #35332e;
}

section.clouds article.subscribe-plan h2 {
    align-self: center;
    padding-bottom: 20px;
    font-size: 21px;
    color: #35332e;
}

/* ----------------------------footer-------------------------------------- */

footer {
    margin-top: 50px;
    height: 82vh;
    background-color: #312e2d;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Forum;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}



footer article:nth-of-type(1),
footer article:nth-of-type(2) {
    align-self: flex-start;
    margin-top: 30px;
    margin-left: 20px;
}

footer article:nth-of-type(1) h1,
footer article:nth-of-type(2) h1 {
    font-family: Montserrat;
    font-size: 30px;
}

footer article:nth-of-type(1) ul,
footer article:nth-of-type(2) ul {
    line-height: 1.2;
    margin-top: 10px;
}

footer article:nth-of-type(1) ul li a,
footer article:nth-of-type(2) ul li {
    color: #fbbc04;
    font-size: 16px;
}

footer article:nth-of-type(1) ul li a {
    text-transform: uppercase;
}

footer article:nth-of-type(3) {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 10px;
}

footer article:nth-of-type(3) li:nth-of-type(1) {
    padding-bottom: 22px;
}


footer article:nth-of-type(3) a {
    color: white;
    font-size: 20px;
    border-radius: 70%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 70%;
    border: 1px solid white;
    padding: 6px 7px 4px 7px;
}

footer article:nth-of-type(3) li:nth-of-type(1) a {
    color: white;
    font-size: 20px;
    border-radius: 70%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 70%;
    border: 1px solid white;
    padding: 6px 10px 5px 10px;
}


footer article:nth-of-type(4) {
    align-self: flex-start;
    margin-left: 10px;
}

footer article:nth-of-type(4) ul {
    display: flex;
    gap: 10px;
    padding-bottom: 5px;
}

footer article:nth-of-type(4) div:nth-of-type(2) {
    width: 97%;
    border-bottom: 1px solid #ffffff;
}

footer article:nth-of-type(4) div:nth-of-type(3) {
    display: flex;
    font-size: 12px;
    gap: 85px;
    align-items: center;
    justify-content: space-between;
}