@font-face {
    font-family: The Seasons;
    src: url(../fonts/Fontspring-DEMO-theseasons-lt.otf);
}

body {
    background-color: #312e2d;
}

nav {
    position: sticky;
    z-index: 1000;
    width: 100%;
    height: 100px;
    top: 0%;
    margin-bottom: 10%;
    background-color: #312e2d;
}


nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

nav>ul>li {
    color: #DCDFDE;
}

nav>ul>li>a {
    color: #DCDFDE;
    font-family: The Seasons;
    font-size: 22px;
}

nav>ul>li:nth-of-type(1) {
    font-size: 35px;
}


nav>ul>li:nth-of-type(2) img {
    width: 190px;
    position: absolute;
    left: 50%;
    top: -60%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

nav>ul>li:nth-of-type(2) img.logo-nav-2 {
    display: none;
}


nav>ul>li:nth-of-type(3) {
    font-size: 25px;
}

.line {
    border-bottom: 1px solid #3D4141;
    position: absolute;
    width: 90%;
    bottom: 0%;
    left: 5%;
    right: 5%;
}


.nav-menu-phone {
    background-color: #27251E;
    width: 100%;
    font-family: Forum;
    z-index: 101;
    position: absolute;
    left: 0%;
    top: 10%;
    height: 100vh;
    overflow: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    justify-content: space-between;
}

.close-menu-button {
    fill: #DCDFDE;
    padding-left: 20px;
    padding-top: 20px;
}

.nav-menu-phone article:nth-of-type(2) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-menu-phone article:nth-of-type(2) ul>li>a,
span {
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 26px;
    text-transform: uppercase;
}

.nav-menu-phone .role-list div.guest-section ul ,
.nav-menu-phone .role-list div.host-section ul {
    border-left: 2px solid #ffffff;
}


.nav-menu-phone .role-list div.guest-section ul li a,
.nav-menu-phone .role-list div.host-section ul li a {
    font-size: 18px;
    color: rgb(255, 255, 255, 0.5);
    padding-left: 5px;
}

.nav-menu-phone article:nth-of-type(3) {
    padding-bottom: 20px;
    align-self: center;
}

.nav-menu-phone article:nth-of-type(3) button {
    border: none;
    background-color: #212123;
    border-radius: 20px;
    padding: 7px 40px;
    box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
    font-family: Forum;
    color: rgb(255, 255, 255, 0.5);
    font-size: 18px;
}



/* ------------------------------------------------------------------------------------------main--------------------------------------------------------------  */

main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 50px;
}

.title h1 {
    font-family: Montserrat;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

.title h2 {
    font-family: Forum;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 5px 2px rgb(255 255 255 / 55%);
    text-transform: uppercase;
}

.my-object {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.my-object article:nth-of-type(1) {
    margin-left: 30%;
    transform: translateX(-30%);
    position: relative;
}

.my-object article:nth-of-type(2) {
    margin-right: 10px;
}

.my-object h3 {
    font-family: 'Forum';
    font-size: 16px;
    color: #ffffff;
}

.my-object article:nth-of-type(1) div {
    position: relative;
}

.my-object button {
    position: absolute;
    left: 78%;
    top: -80%;
    border: none;
    background-color: #212123;
    border-radius: 20px;
    padding: 10px 7px;
    box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
}

.my-object button a {
    color: #ffffff;
    font-size: 10px;
    font-family: 'Montserrat';
    opacity: 0.6;
    text-transform: uppercase;
}

.my-object img {
    width: 115%;
}

.my-object article:nth-of-type(2) {
    margin-top: 30px;
}

.my-object article:nth-of-type(2) div {
    display: flex;
    gap: 30px;
}


.my-object article:nth-of-type(2) p {
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 12px;
}





/* ----------------------------footer-------------------------------------- */

footer {
    margin-top: 50px;
    height: 82vh;
    background-color: #312e2d;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Forum;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}



footer article:nth-of-type(1),
footer article:nth-of-type(2) {
    align-self: flex-start;
    margin-top: 30px;
    margin-left: 20px;
}

footer article:nth-of-type(1) h1,
footer article:nth-of-type(2) h1 {
    font-family: Montserrat;
    font-size: 30px;
}

footer article:nth-of-type(1) ul,
footer article:nth-of-type(2) ul {
    line-height: 1.2;
    margin-top: 10px;
}

footer article:nth-of-type(1) ul li a,
footer article:nth-of-type(2) ul li {
    color: #fbbc04;
    font-size: 16px;
}

footer article:nth-of-type(1) ul li a {
    text-transform: uppercase;
}

footer article:nth-of-type(3) {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 10px;
}

footer article:nth-of-type(3) li:nth-of-type(1) {
    padding-bottom: 22px;
}


footer article:nth-of-type(3) a {
    color: white;
    font-size: 20px;
    border-radius: 70%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 70%;
    border: 1px solid white;
    padding: 6px 7px 4px 7px;
}

footer article:nth-of-type(3) li:nth-of-type(1) a {
    color: white;
    font-size: 20px;
    border-radius: 70%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 70%;
    border: 1px solid white;
    padding: 6px 10px 5px 10px;
}


footer article:nth-of-type(4) {
    align-self: flex-start;
    margin-left: 10px;
}

footer article:nth-of-type(4) ul {
    display: flex;
    gap: 10px;
    padding-bottom: 5px;
}

footer article:nth-of-type(4) div:nth-of-type(2) {
    width: 97%;
    border-bottom: 1px solid #ffffff;
}

footer article:nth-of-type(4) div:nth-of-type(3) {
    display: flex;
    font-size: 12px;
    gap: 85px;
    align-items: center;
    justify-content: space-between;
}