@font-face {
    font-family: The Seasons;
    src: url(../fonts/Fontspring-DEMO-theseasons-lt.otf);
}

body {
    background-color: #535351;
}

nav {
    position: sticky;
    z-index: 1000;
    width: 100%;
    height: 100px;
    top: 0%;
    margin-bottom: 10%;
}


nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

nav>ul>li {
    color: #DCDFDE;
}

nav>ul>li>a {
    color: #DCDFDE;
    font-family: The Seasons;
    font-size: 22px;
}

nav>ul>li:nth-of-type(1) {
    font-size: 35px;
}


nav>ul>li:nth-of-type(2) img {
    width: 190px;
    position: absolute;
    left: 50%;
    top: -60%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

nav>ul>li:nth-of-type(2) img.logo-nav-2 {
    display: none;
}


nav>ul>li:nth-of-type(3) {
    font-size: 25px;
}

.line {
    border-bottom: 1px solid #3D4141;
    position: absolute;
    width: 90%;
    bottom: 0%;
    left: 5%;
    right: 5%;
}


.nav-menu-phone {
    background-color: #545454;
    width: 85%;
    font-family: Forum;
    z-index: 101;
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-menu-phone article:nth-of-type(1) ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 15px;
    /* border-bottom: 1px solid white; */
}

.nav-menu-phone article:nth-of-type(1) ul li:nth-of-type(1) {
    margin-left: 15px;
    font-size: 45px;
    margin-top: 5px;
}


.nav-menu-phone article:nth-of-type(1) ul li:nth-of-type(3) {
    margin-right: 15px;
    font-size: 30px;
    color: white;
}


.nav-menu-phone article:nth-of-type(1) ul li:nth-of-type(2) img {
    width: 60%;
    position: absolute;
    left: 50%;
    top: -20%;
    -webkit-transform: translateX(-50%) translateY(-25%);
    -ms-transform: translateX(-50%) translateY(-25%);
    transform: translateX(-50%) translateY(-25%);
    z-index: -1;
}

.line-menu {
    border-bottom: 1px solid white;
    margin-top: 34px;
    margin-left: 20px;
}

.nav-menu-phone article:nth-of-type(2) {
    align-self: center;
    margin-top: 20px;
}


.nav-menu-phone article:nth-of-type(2) button {
    background: none;
    width: 170px;
    height: 40px;
    border: 2px solid white;
    font-family: 'Forum';
    font-size: 25px;
    color: white;
    -webkit-box-shadow: -2px 7px 8px -3px rgba(0, 0, 0, 0.68);
    box-shadow: -2px 7px 8px -3px rgba(0, 0, 0, 0.68);
}

.nav-menu-phone article:nth-of-type(3) {
    margin-top: 60px;
    margin-left: 20px;
}


.nav-menu-phone article:nth-of-type(3)>ul li {
    line-height: 1.5;
}

.nav-menu-phone article:nth-of-type(3)>ul li a,
span {
    color: #C3C3C3;
    font-family: Forum;
    font-size: 30px;
    text-transform: uppercase;
}


.nav-menu-phone article:nth-of-type(3) ul li:nth-of-type(4) div ul li {
    line-height: 1;
}

.nav-menu-phone article:nth-of-type(3) ul li:nth-of-type(4) div ul li a {
    font-size: 18px;
}

.nav-menu-phone article:nth-of-type(4) {
    align-self: flex-end;
    margin-top: 40px;
}


.nav-menu-phone article:nth-of-type(4) button {
    background: none;
    border: 2px solid white;
    -webkit-box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
    box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
    margin-right: 20px;
    padding: 5px 15px 5px 15px;
}

.nav-menu-phone article:nth-of-type(4) button a {
    font-family: 'Forum';
    font-size: 22px;
    color: white;
}

.close-menu-button {
    fill: #DCDFDE;
}

/* -----------------------------------------------------------header------------------------------------------- */

header {
    text-align: center;
    color: #ffffff;
    margin-top: 15%;
    position: relative;
    line-height: 1.2;
}

header h1 {
    font-family: Forum;
    transform: rotate(270deg);
    position: absolute;
    left: 0%;
    font-size: 12px;
    top: 25%;
}

header h2 {
    font-family: Montserrat;
    font-size: 50px;
    text-transform: uppercase;
}

header div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

header h3 {
    font-family: "The Seasons";
    text-transform: lowercase;
    font-size: 50px;
    text-shadow: 2px 10px 5px rgba(255, 255, 255, 0.54);
}

header h4 {
    font-family: 'The Seasons';
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 2px 10px 5px rgba(255, 255, 255, 0.54);
}

/* -------------------------------------------------------------main------------------------------------------------------------- */

main {
    margin-top: 25%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    width: 100%;
}

main h5 {
    font-size: 17px;
    margin-left: 55%;
    transform: translateX(-55%);
}

main p {
    width: 45%;
    margin-left: 55%;
    transform: translateX(-55%);
    font-size: 15px;
}

main article:nth-of-type(1) {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.line-title {
    width: 80%;
    border-bottom: 3px solid #ffffff;
    overflow: hidden;
    margin-left: 30%;
}

main button {
    border: none;
    background-color: #212123;
    border-radius: 20px;
    padding: 10px 7px;
    box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
    margin-top: 20%;
    margin-bottom: 10%;
    padding-left: 10px;
    padding-right: 10px;
}

main button a {
    font-family: Montserrat;
    text-transform: uppercase;
    color: rgb(255, 255, 255, 0.5);
    font-size: 12px;
}



/* ----------------------------footer-------------------------------------- */

footer {
    margin-top: 50px;
    height: 82vh;
    background-color: #535351;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Forum;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}



footer article:nth-of-type(1),
footer article:nth-of-type(2) {
    align-self: flex-start;
    margin-top: 30px;
    margin-left: 20px;
}

footer article:nth-of-type(1) h1,
footer article:nth-of-type(2) h1 {
    font-family: Montserrat;
    font-size: 30px;
}

footer article:nth-of-type(1) ul,
footer article:nth-of-type(2) ul {
    line-height: 1.2;
    margin-top: 10px;
}

footer article:nth-of-type(1) ul li a,
footer article:nth-of-type(2) ul li {
    color: #fbbc04;
    font-size: 16px;
}

footer article:nth-of-type(1) ul li a {
    text-transform: uppercase;
}

footer article:nth-of-type(3) {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 10px;
}

footer article:nth-of-type(3) li:nth-of-type(1) {
    padding-bottom: 22px;
}


footer article:nth-of-type(3) a {
    color: white;
    font-size: 20px;
    border-radius: 70%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 70%;
    border: 1px solid white;
    padding: 6px 7px 4px 7px;
}

footer article:nth-of-type(3) li:nth-of-type(1) a {
    color: white;
    font-size: 20px;
    border-radius: 70%;
    border-top-left-radius: 70%;
    border-top-right-radius: 70%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 70%;
    border: 1px solid white;
    padding: 6px 10px 5px 10px;
}


footer article:nth-of-type(4) {
    align-self: flex-start;
    margin-left: 10px;
}

footer article:nth-of-type(4) ul {
    display: flex;
    gap: 10px;
    padding-bottom: 5px;
}

footer article:nth-of-type(4) div:nth-of-type(2) {
    width: 97%;
    border-bottom: 1px solid #ffffff;
}

footer article:nth-of-type(4) div:nth-of-type(3) {
    display: flex;
    font-size: 12px;
    gap: 85px;
    align-items: center;
    justify-content: space-between;
}