@font-face {
    font-family: The Seasons;
    src: url(../fonts/Fontspring-DEMO-theseasons-lt.otf);
}

nav {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100px;
}


nav>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

nav>ul>li {
    color: #545454;
}

nav>ul>li>a {
    color: #545454;
    font-family: The Seasons;
    font-size: 22px;
}

nav>ul>li:nth-of-type(1) {
    font-size: 35px;
}


nav>ul>li:nth-of-type(2) img {
    width: 140px;
    position: absolute;
    left: 50%;
    top: -40%;
    transform: translateX(-50%);
}

nav>ul>li:nth-of-type(2) img.logo-nav-1 {
    display: none;
}

nav>ul>li:nth-of-type(2) img.logo-nav-2 {
    display: flex;
}


nav>ul>li:nth-of-type(3) {
    font-size: 25px;
}

.line {
    border-bottom: 1px solid #3D4141;
    position: absolute;
    width: 90%;
    bottom: 0%;
    left: 5%;
    right: 5%;
}

.nav-menu-phone {
    background-color: #545454;
    width: 85%;
    font-family: Forum;
    z-index: 101;
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-menu-phone article:nth-of-type(1) ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 15px;
    /* border-bottom: 1px solid white; */
}

.nav-menu-phone article:nth-of-type(1) ul li:nth-of-type(1) {
    margin-left: 15px;
    font-size: 45px;
    margin-top: 5px;
}


.nav-menu-phone article:nth-of-type(1) ul li:nth-of-type(3) {
    margin-right: 15px;
    font-size: 30px;
}


.nav-menu-phone article:nth-of-type(1) ul li:nth-of-type(2) img {
    width: 35%;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translateX(-50%) translateY(-25%);
}

.line-menu {
    border-bottom: 1px solid white;
    margin-top: 34px;
    margin-left: 20px;
}

.nav-menu-phone article:nth-of-type(2) {
    align-self: center;
    margin-top: 20px;
}


.nav-menu-phone article:nth-of-type(2) button {
    background: none;
    width: 170px;
    height: 40px;
    border: 2px solid white;
    font-family: 'Forum';
    font-size: 25px;
    color: white;
    -webkit-box-shadow: -2px 7px 8px -3px rgba(0, 0, 0, 0.68);
    box-shadow: -2px 7px 8px -3px rgba(0, 0, 0, 0.68);
}

.nav-menu-phone article:nth-of-type(3) {
    margin-top: 60px;
    margin-left: 20px;
}


.nav-menu-phone article:nth-of-type(3)>ul li {
    line-height: 1.5;
}

.nav-menu-phone article:nth-of-type(3)>ul li a, span {
    color: #C3C3C3;
    font-family: Forum;
    font-size: 30px;
    text-transform: uppercase;
}


.nav-menu-phone article:nth-of-type(3) ul li:nth-of-type(4) div ul li {
    line-height: 1;
}

.nav-menu-phone article:nth-of-type(3) ul li:nth-of-type(4) div ul li a {
    font-size: 18px;
}

.nav-menu-phone article:nth-of-type(4) {
    align-self: flex-end;
    margin-top: 40px;
}


.nav-menu-phone article:nth-of-type(4) button {
    background: none;
    border: 2px solid white;
    -webkit-box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
    box-shadow: -2px 7px 8px -3px rgb(0 0 0 / 68%);
    margin-right: 20px;
    padding: 5px 15px 5px 15px;
}


.nav-menu-phone article:nth-of-type(4) button a {
    font-family: 'Forum';
    font-size: 22px;
    color: white;
}

.close-menu-button {
    fill: #DCDFDE;
}

/* ---------------------------------header-----------------------------------*/

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

header h1 {
    position: absolute;
    transform: rotate(270deg);
    left: -5%;
    font-size: 10px;
    top: 46%;
}

header div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

header h2 {
    font-family: "Montserrat";
    font-size: 50px;
    color: #535351;
}

header h3 {
    font-family: "The Seasons";
    color: #535351;
    text-shadow: 0px 11px 2px rgb(83 83 81 / 38%);
    font-size: 40px;
}

header img {
    width: 43%;
    position: absolute;
    left: 57%;
}

header i {
    margin-top: 10px;
    font-size: 20px;
    color: #535351;
}

/* ------------------------------------------------------------------main----------------------------------------------------------------------- */

/* -----------------------------------------------------------------table-------------------------------------------- */

table {
    margin-left: 10px;
}


table td {
    border-bottom: 1px solid #545454;
    width: 100%;
}